.ps-section--partner
    .ps-container
         .owl-slider(
             data-owl-auto= 'true',
             data-owl-loop= 'true',
             data-owl-speed= '5000',
             data-owl-gap= '60',
             data-owl-nav= 'false',
             data-owl-dots= 'false',
             data-owl-item= '5',
             data-owl-item-xs= '3',
             data-owl-item-sm= '3',
             data-owl-item-md= '4',
             data-owl-item-lg= '5',
             data-owl-duration= '1000',
             data-owl-mousedrag= 'on'
         )
             a(href='#'): img(src="images/partner/1.png" alt="")
             a(href='#'): img(src="images/partner/2.png" alt="")
             a(href='#'): img(src="images/partner/3.png" alt="")
             a(href='#'): img(src="images/partner/4.png" alt="")
             a(href='#'): img(src="images/partner/5.png" alt="")
             a(href='#'): img(src="images/partner/1.png" alt="")
             a(href='#'): img(src="images/partner/2.png" alt="")
             a(href='#'): img(src="images/partner/3.png" alt="")
             a(href='#'): img(src="images/partner/4.png" alt="")
             a(href='#'): img(src="images/partner/5.png" alt="")