.container_it_megamenu {
  padding: 0;
  position: relative;
  z-index: 15;
      animation: none;
}
.innovatoryMegamenu .container {
  position: relative;
}
.it-menu-horizontal { 
  text-align: center;
  position: relative;
    z-index: 9;
}
.container_it_megamenu .it-sub-menu {
  padding-bottom: 0;
  padding-top: 5px;
}
.container_it_megamenu .it-sub-menu .html-block p,
.container_it_megamenu .it-sub-menu .html-block a {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

.menu-subtitle {
  position: absolute;
  top: -50px;
  line-height: 13px;
  font-size: 8px;
  padding: 0 4px;
  background: #fff;
  color: #fff;
  right: 40%;
}
.it-menu-horizontal ul.ul-column li.menu-item .html-block {
    padding: 10px 0 ;
}
.it-menu-horizontal li.level-1 .img-icon {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}
.it-menu-horizontal ul {
  margin: 0;
}

.it-menu-horizontal ul.ul-column li.menu-item {
  padding: 0 15px
}
.it-menu-horizontal .menu-content {
  z-index: 98;
}
.it-menu-horizontal li.level-1.parent>a:after {
  font-family: "FontAwesome";
  font-size: 13px;
  font-weight: normal;
  margin-left: 5px;
  content: "\f107";
}

.it-menu-horizontal ul li.level-1>a span {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
#header .it-menu-horizontal ul li.level-1{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#header .it-menu-horizontal ul li.level-1 > a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #fff;
  padding:0 15px 0 5px;
  vertical-align: middle; 
}
#header .it-menu-horizontal ul .view_menu a.level-top {
    padding: 0 15px;
}
.it-menu-horizontal li.level-1 {
  display: inline-block;
}
.more-menu li.level-1 {
  display: block;
}
.cat-drop-menu li {
  position: relative;
}
.it-menu-horizontal .menu-dropdown li a {
  display: block;
}

.it-menu-horizontal .menu-dropdown li:first-child>a {
  border-top: none;
}
.it-menu-horizontal .menu-banner p{
  margin:0;
}
.it-menu-horizontal .menu-banner ul.ul-column li.menu-item{
  padding:0;
}
.clearfix {
  clear: both
}
#header .it-menu-horizontal ul li.level-1 ul li.item-header a {
  border-bottom: 1px solid transparent;
  color: #222;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  margin-bottom: 5px;
  text-transform: uppercase;
}
#header .it-menu-horizontal ul li.level-1 ul li.item-header .html-block a{
  margin-bottom: 0
}
#header .it-menu-horizontal ul li.level-1 ul li.item-header a:before {
  display: none;
}

.it-menu-horizontal ul li.item-header a:hover {
  color: #1a1a1a;
}

.it-menu-horizontal ul li a.product-name {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
  color: #666666;
}

.it-menu-horizontal ul li.level-1 ul li a {
  clear: both;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}

#header .it-menu-horizontal ul li.level-1 ul li:last-child>a {
  border: none;
}

.it-menu-horizontal .it-menu-col:first-child {}

.it-menu-horizontal .container {
  padding-left: 0;
  padding-right: 0;
}

.html-block img {
  height: auto;
}

.html-block img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}

@media (min-width: 1051px) {
  .it-menu-horizontal .menu-dropdown {
    border: 1px solid #e2e2e2;
    min-height: 50px;
    padding: 5px 0;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(1,0);
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    -o-transform: scale(1,0);
    -ms-transform: scale(1,0);
    -webkit-transition: all 500ms ease 0s;
      -moz-transition: all 500ms ease 0s;
      -ms-transition: all 500ms ease 0s;
      -o-transition: all 500ms ease 0s;
      transition: all 500ms ease 0s;
    visibility: hidden;
    -webkit-transform-origin: 0 0 0;
      transform-origin: 0 0 0;
  }
  .it-menu-horizontal ul li.level-1:hover>.menu-dropdown,
  .it-menu-horizontal ul li.level-2:hover>.menu-dropdown {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1,1);
      -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
      -o-transform: scale(1,1);
      transform: scale(1,1);
    visibility: visible;
    text-align: left;
  }
  .it-menu-horizontal .title-menu-mobile,
  .icon-drop-mobile {
    display: none;
  }
  .it-menu-horizontal .title-menu-mobile,
  .icon-drop-mobile {
    display: none !important;
  }
  .it-menu-horizontal ul li.level-1.parent:hover>a,
  .it-menu-horizontal ul li.level-1#more_menu:hover>a {}
  .it-menu-horizontal li.level-1.parent>a,
  .it-menu-horizontal li.level-1#more_menu>a {
    z-index: 1001;
  }
  .it-menu-horizontal .menu-dropdown {
    position: absolute;
    top: 100%;
    z-index: 1000;
    background: #fff
  }
  .it-menu-horizontal .menu-dropdown .it-menu-col.border {
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .it-menu-horizontal .menu-dropdown .it-menu-col.border .ul-column {
    border-left: 1px solid #666;
  }
  .it-menu-horizontal .menu-dropdown .it-menu-col.border .ul-column li {
    padding-left: 20px;
  }
  .it-menu-horizontal .menu-dropdown .it-menu-col.border ul li.item-header a {
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
  }
  .it-menu-horizontal .menu-dropdown .it-menu-col.none-border {
    padding: 0;
  }
  .it-menu-horizontal .it-menu-col.none-border ul li.item-header a {
    border: none;
  }
  .it-menu-horizontal .menu-dropdown .product-container .product-name a {
    text-align: center;
    float: none;
  }
  .it-menu-horizontal .menu-dropdown .product-container .content_price {
    clear: both;
  }
  .it-menu-horizontal .menu-dropdown ul li.product-block {
    padding: 10 0px;
  }
  .it-menu-horizontal .cat-drop-menu li {
    position: relative;
    width: 200px;
    padding: 0 15px;
  }
  .it-menu-horizontal .cat-drop-menu li a {}
  .it-menu-horizontal li.level-2 .menu-dropdown {
    left: 100%;
    top: -1px;
  }
  .it-menu-horizontal .menu-dropdown.it-sub-menu {
    padding: 0;
  }
  .it-menu-horizontal .menu-dropdown .it-menu-row {
    padding: 15px 0;
  }
  .it-menu-horizontal .menu-dropdown.it-sub-right,
  .it-menu-horizontal .menu-dropdown.it-sub-auto {
    right: 0;
  }
  .it-menu-horizontal .menu-dropdown.it-sub-left {
    left: 0;
  }
  .it-menu-horizontal .menu-dropdown.it-sub-center {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .it-menu-horizontal ul li.level-1 ul li.parent:after {
    content: "\f105";
    color: #666;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 15px;
    text-decoration: inherit;
    top: 8px;
  }
  li.product-block {
    padding: 10px 20px 10px 10px;
  }
  .product-container {
    margin-bottom: 15px;
  }
  .product-container .img {
    margin-right: 15px;
    width: 70px
  }
  #header .it-menu-horizontal ul li.level-1 ul li .innovatory-product-title a {
    border: medium none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
  }
  .it-menu-horizontal .menu-dropdown .product-container .content_price .regular-price {
    color: #acaaa6;
    font-size: 0.875rem;
    text-decoration: line-through;
  }
  .it-menu-horizontal .menu-dropdown .product-container .content_price .price {
    color: #f34d59;
    font-size: 16px;
  }
  .it-menu-horizontal .menu-dropdown .product-container .content_price .discount-percentage {
    background-color: #de3d68;
    border-color: #de3d68;
    border-radius: 3px;
    color: #fff;
    margin-right: 5px;
    padding: 0 5px;
  }
  #more_menu {
    position: relative;
  }
  #more_menu .menu-dropdown {
    right: 0;
  }
  #more_menu .menu-dropdown .menu-dropdown {
    display: none;
  }
}

.it-menu-horizontal ul li.level-1.menu-banner>.menu-dropdown {}

.innovatoryMenu-top li.level-1 {
  float: none !important;
}

@media only screen and (min-width: 1199px) {
  /*.innovatoryMenu-top .it-menu-horizontal {
    height: 50px;
  }
  .innovatoryMenu-top .it-menu-horizontal li.level-1 {
    height: 50px;
  }
  .innovatoryMenu-top .it-menu-horizontal ul li.level-1>a {
    line-height: 48px;
  }*/
}

@media (min-width:1050px) {
  .it-menu-horizontal {
    padding:0;
    text-align: left;
    display: inline-block;
    float: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .it-menu-horizontal li.level-1.parent>a,
  .it-menu-horizontal li.level-1#more_menu>a {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container_it_megamenu {
    position: relative;
  }
  .it-verticalmenu {
    position: absolute !important;
    top: -48px !important;
    z-index: 9999 !important;
  }
  .innovatoryFooter-center .h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1050px) {
#header .it-menu-horizontal ul li.level-1>a {
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
}
#header #mobile_top_menu_wrapper .menu-tit {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    color: #222;
    display: flex;   
    font-weight:600; 
}
#header #mobile_top_menu_wrapper .menu-tit i {
    margin-right: 10px;
}
.it-menu-horizontal li.level-1 .img-icon{
  display: none;
}
.user-info-btn .cust-mail{
    margin-bottom: 0;
    color: #fff;
    opacity: .7;
    font-size: 14px;
    line-height: 1.2;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-info-btn .account{
    text-transform: capitalize;
}
.user-info-btn .logout{
    float: right;
    font-size: 18px;    
}
.user-info-btn:after {
    content: '';
    display: block;
    clear: both;
}
#header .it-menu-horizontal .menu-content > li.level-1 {
    transition: all .3s;
}
#header .it-menu-horizontal .menu-content > li.level-1:hover > a{
    background-color: #f5f5f5;
    color: #000;
}
#header .it-menu-horizontal ul li.level-1 ul li.item-header a {
    color: #222;
    text-transform: none;
}
.innovatoryMegamenu .container {
    padding: 0;
}
.it-menu-horizontal li.level-1 {
  cursor: pointer;
  position: relative;
  width: 100%;
  float: none;
  display: block;
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
}
.it-menu-horizontal li.level-5,
.it-menu-horizontal li.level-4,
.it-menu-horizontal li.level-3,
.it-menu-horizontal li.level-2 {
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.it-menu-horizontal ul li ul li:last-child {
  border-bottom: medium none !important;
}
.it-menu-horizontal li.level-5 a,
.it-menu-horizontal li.level-4 a,
.it-menu-horizontal li.level-3 a,
.it-menu-horizontal li.level-2 a {
  line-height: 45px;
  padding: 0;
}
#header .it-menu-horizontal ul li.level-1 > a {
  padding: 0 20px;
  line-height: 36px;
  color: #222;
}
.it-menu-horizontal .it-menu-col {
  width: 100%;
  padding-right: 0;
}
.it-menu-horizontal .menu-banner{
  display: none;
}
.it-menu-horizontal .menu-content.itActive {
  display: block !important;
}
.it-menu-horizontal .menu-dropdown {
  display: none;
}
.it-menu-horizontal li.level-1>a {
  padding: 0;
  line-height: 22px;
}
.it-menu-horizontal ul li.level-1>a span {
  display: block;
}
.title-menu-mobile span {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 0;
  text-transform: uppercase;
}
.title-menu-mobile span:after {
  content: "\f107";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  float: right;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.it-menu-horizontal .icon-drop-mobile {
  float: right;
  height: 36px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0;
  line-height: 36px;
  width: 30px;
}
.it-menu-horizontal ul li.level-1:hover .icon-drop-mobile:after {}
.it-menu-horizontal ul li.parent .icon-drop-mobile:after {
  content: "\f107";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
.it-menu-horizontal ul li.parent .icon-drop-mobile.opened:after {
  content: "\f106";
}
.it-menu-horizontal .menu-dropdown.it-sub-menu {
  padding: 0;
  width: 100% !important;
  float: none;
}
.it-menu-horizontal ul li ul {
  width: auto;
}
.it-menu-horizontal ul li.level-1 ul li a {
  color: #666;
}
.it-menu-horizontal ul li.level-1 ul li a:hover {
  color: #000;
}
.it-menu-horizontal ul li.level-1 ul li.parent:hover:after {
  color: #000;
}
.it-menu-horizontal ul li.level-1 ul li .icon-drop-mobile:after {
  color: #ccc;
}
.it-menu-horizontal li.level-1:hover>a:before {
  display: none;
}
.container_it_megamenu {
  margin-top: 15px;
  margin-bottom: 15px;
  background: none;
  text-align: left;
  height: auto;
}
.it-menu-horizontal {
  height: auto;
  clear: both;
  display: block;
}
.it-menu-horizontal .menu-content.itActive {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}
.it-menu-horizontal li.level-1.parent>a::after {
  display: none;
}
#header .it-menu-horizontal ul li.level-1 ul li a {
  color: #666;
  line-height: 40px;
}
#header .it-menu-horizontal ul li.item-header a {
  color: #666 !important;
}
.it-menu-horizontal ul li ul li.menu-item.item-header {
  padding:0;
}
.it-menu-horizontal ul li ul li.menu-item {
  clear: both;
  display: block;
}
}