.innovatoryPopupnewsletter{}
.modal-open #innovatoryPopupnewsletter.modal{
    overflow-y: auto;   
}
.innovatoryPopupnewsletter-i{margin:70px auto;position:relative;}
.innovatoryPopupnewsletter-i .close{
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: 35px;
    opacity: 1;
    background-color:#141b25;
    position: absolute;
    right: 15px;
    text-align: center;
    top:15px;
    width: 35px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 9;
}
.innovatoryPopupnewsletter-i .close i{
    line-height: 35px;
}
.innovatoryPopupnewsletter-i .close:hover{
    background-color:#1e1e1e;
}
.itpopupnewsletter{position:relative;border-radius: 5px;width: 100%;padding: 60px;    background-position: left;background-repeat: no-repeat;}
#newsletter_block_popup{
    bottom: 0;
    left: 0;
    padding:60px 30px 60px 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#newsletter_block_popup .block_content .newsletter_title{}
#newsletter_block_popup .block_content .newsletter_title h3{
    color: #333333;
    line-height: 1;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
}
#newsletter_block_popup .block_content .innovatoryContent .promo-panel-text {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0 20px 8px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
}
#newsletter_block_popup .block_content .innovatoryContent .promo-panel-text .sale-off {
    color: #f73535;
    margin: 0 6px;
}

#newsletter_block_popup .block_content .innovatoryContent {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom:30px;
}
#newsletter_block_popup .block_content .innovatoryContent h3{
    line-height:1;
    font-weight:500;
    margin-bottom:15px;
}
#newsletter_block_popup .block_content .innovatoryContent p{
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    color: #333333;
}
#newsletter_block_popup .block_content .htAlert {  font-size:14px;}
#newsletter_block_popup .block_content .inputNew {
    background-color: #fff;
    border: 2px solid #e6e6e6;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 50px;
}
#newsletter_block_popup .block_content .inputNew::placeholder{
    opacity: .8
}
#newsletter_block_popup .newsletter_block_popup-bottom {
    /*position: absolute;
    right: 15px;
    bottom: 30px;*/
}
#newsletter_block_popup .newsletter_block_popup-bottom .subscribe-bottom {
    display: inline-block;
    line-height: 25px;
    margin-right: 5px;
}
#newsletter_block_popup .newsletter_block_popup-bottom .innovatory_newsletter_dont_show_again {
    color: #111;
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: block;    
}

@media screen and (max-width: 767px){
.itpopupnewsletter{
    background-image: none !important;
    background-color: #fff;
    padding: 0;
    height: auto !important;
}
#newsletter_block_popup {
    padding: 30px;
    position: relative;
}
#newsletter_block_popup .block_content {
    padding-top: 0px;
}
body .innovatoryPopupnewsletter-i .close{
    top: 0;
    right: 0px;
    transform: translateY(-100%);
    background: transparent;
}
.innovatoryPopupnewsletter-i .close:hover{
    background-color: transparent;
}
}
@media only screen and (max-width : 767px){
#newsletter_block_popup .block_content .innovatoryContent {
    font-size: 18px;
}
#newsletter_block_popup {
    padding: 28px 15px;
}
#newsletter_block_popup .newsletter_block_popup-bottom .innovatory_newsletter_dont_show_again {
    font-size: 12px;
}
}
@media screen and (min-width: 768px){
#newsletter_block_popup .newsletter_block_popup-bottom,
#newsletter_block_popup .block_content {
    margin-left: 50%;
}
#newsletter_block_popup .block_content{
    padding-left: 15px
}
}

/*custom-checkbox*/
.hidden{
    display: none;
}
.check-fancy input[type=checkbox] + label:before {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    border: 0.1em solid transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    line-height: 18px;
}
.check-fancy input[type=checkbox] + label:active:before {
  transform: scale(0);
}
.check-fancy input[type=checkbox]:checked + label:before {
  /*background-color:#ee433f;
  border-color: #ee433f;*/
  color: #fff;
}
.check-fancy input[type=radio] + label:before{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border:2px solid transparent;
    content: '';
}
.check-fancy label{
  cursor: pointer;
  font-weight: normal;
}
#newsletter_block_popup .block_content .inputNew:focus{
    outline: none;
}

@media screen and (max-width:480px){
#newsletter_block_popup .block_content .newsletter_title h3{
    font-size: 13px;
}
}

/*newsletter-popup*/
#innovatoryPopupnewsletter{
    text-align: center;
}
#innovatoryPopupnewsletter:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
#innovatoryPopupnewsletter > div{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 90%;
    margin:40px auto;
}
#newsletter_block_popup .block_content .newsletter_title h3{
    font-size: 24px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 10px;
}
#newsletter_block_popup .block_content .innovatoryContent p {
    font-size: 16px;
}
#newsletter_block_popup .block_content .innovatoryContent {
    margin-bottom: 25px;
}
#newsletter_block_popup .block_content .inputNew {
    background-color: transparent;
    margin-bottom: 20px;
    border-radius: 0;
}

@media screen and (max-width: 767px){
#authentication #main{
    padding: 0;
    margin-bottom: 30px
}
}
@media screen and (min-width: 768px){
#newsletter_block_popup .block_content .innovatoryContent p {
    font-size: 20px;
}
}
@media screen and (min-width: 992px){
#newsletter_block_popup .block_content .innovatoryContent p {
    font-size: 24px;
}
}