extends ../master

block title
    title Xuper - Compare

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content

    .ps-hero
        .container
            h3 Compare
            p Page Cart
    include ../partials/section/compare
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








