#itblog_block {
  padding: 60px 0 0;
  position: relative;
  text-align: center;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item {
  padding: 15px;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #E6E6E6;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder {
  overflow: hidden;
  position: relative;
  display: block;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder a {
  display: block;
  position: relative;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder a img {
  width: 100%;
  max-width: 100%;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder a .blog-hover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  width: 100%;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder .blogicons {
  bottom: 0;
  height: 45px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  top: 0;
  width: 100px;
  opacity: 0;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  position: relative;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon:before {
  font-family: "FontAwesome";
  content: "";
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
  margin: auto;
  left: 0;
  position: absolute;
  padding: 12px;
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0;
  width: 45px;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon:hover:before {
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  border-color: #000;
  background: #000;
  transition: all 0.3s ease 0s;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon.zoom:before {
  content: "\F002";
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon.readmore:before {
  content: "\F0C1";
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content {
  text-align: left;
  bottom: 0;
  transition: all 0.35s ease 0s;
  -moz-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  -khtml-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner {
  padding: 20px;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .blog_date,
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .comment {
  display: inline-block;
  color: #000;
  margin: 0 15px 10px 0;
  font-size: 16px;
}
@media (max-width: 543px) {
  #itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .blog_date,
  #itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .comment {
    /* max 543 */
    margin: 0 10px 10px 0;
    font-size: 12px;
  }
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .blog_date .day_date,
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .blog_date .day_month {
  display: inline-block;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .comment .day_date,
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .comment .day_month {
  display: inline-block;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .comment:before {
  content: "\F073";
  font-family: "FontAwesome";
  font-size: 16px;
  color: #000;
  content: "\F0E6";
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .view {
  color: #000;
}
@media (max-width: 543px) {
  #itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .view {
    /* max 543 */
    font-size: 12px;
  }
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .sds_post_title {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 15px;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .sds_post_title a {
  color: #000;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .sds_post_title a:hover {
  color: #888888;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .r_more {
  border-bottom: 2px solid #888888;
  padding: 5px 0;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner .r_more:hover {
  color: #000;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item .blog_post .blog_content .blog_inner i {
  font-size: 15px;
  font-family: "FontAwesome";
}
#itblog_block .sdsblog-box-content #itblog-carousel .item:hover .news_module_image_holder .blog-hover {
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item:hover .news_module_image_holder .blogicons {
  opacity: 1;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
#itblog_block .sdsblog-box-content #itblog-carousel .item:hover .news_module_image_holder .blogicons .zoom:before,
#itblog_block .sdsblog-box-content #itblog-carousel .item:hover .news_module_image_holder .blogicons .readmore:before {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.itblog_block_inner {
  padding: 0;
}
#sdsblogArticle #post_images img {
  width: 100%;
}
.itblogcomments #commentInput {
  background-color: #fff
}
.itblog_block_inner .item.sds_blog_post {
  padding: 0 15px;
}
.post_thumbnail {
  position: relative;
  overflow: hidden;
}
.home_blog_post .blog_post_content .post_thumbnail .blogicons {
  width: 110px;
  height: auto;
  line-height: 1;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.home_blog_post .blog_post_content .post_thumbnail .thumbnail{
  display: block;
  position: relative;
}
.home_blog_post .blog_post_content .post_thumbnail .thumbnail:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.home_blog_post .blog_post_content:hover .post_thumbnail .thumbnail:before{
  opacity: 0.7;
}
.home_blog_post .blog_post_content .post_thumbnail .thumbnail img {
  width: 100%;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
.articleContent .imageFeatured {
  width: 100%;
}
.home_blog_post .blog_post_content .post_thumbnail .blogicons a.icon {
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  height: 40px;
  width: 40px;
  opacity: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #222;
  margin: 0 5px;
  display: inline-block;  
}
.home_blog_post .blog_post_content:hover .post_thumbnail .blogicons a.icon{
  opacity: 1;
}
.home_blog_post .blog_post_content .post_thumbnail .blogicons a.icon:hover {
  border-color: #222;
  background-color: #222;
  color: #222;
}
.blog_content {
  padding:15px 15px 15px 0;
  text-align:left;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.blog_content .sds_post_title {
  margin: 0;
  font-size:18px;
  font-weight: 500;
  padding-bottom: 10px;
}
.blog_content .sds_post_title a {
  color: #333;
}
.home_blog_post .blog_post_content .post_thumbnail .meta_date{
  line-height: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  margin-bottom: 0;
  padding-top: 9px;
  font-weight: 700;
  font-family: 'poppins';
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
.home_blog_post .blog_post_content .post_thumbnail .meta_date span{
  display: block;
}
.blog_content p {
  margin: 0;
  font-size: 14px;
}
.blog_content .meta_date{
  margin-bottom: 10px;
}
.read_more {
  line-height: 1;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
}
.read_more i {
  font-size: 16px;
  margin-left: 3px;
}
.read_more:hover i {
  position: relative;
  animation-name: arrow;
  animation-duration: 0.55s;
}
@keyframes arrow {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
.bolg_des {
  padding: 15px;
  border: 1px solid transparent;
  margin-bottom: 30px;
  background-color: #fff;
}
.bolg_des .sdsarticleHeader .sdstitle_block {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.bolg_des .sdsarticleHeader .sdstitle_block a {
  color: #222;
}
.sdstitle_block {
  margin-bottom: 5px;
}
.blogdetail {
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 5px;
}
#sdsblogCategory {
  margin-bottom: 30px;
}
#sdsblogCategory img.imageFeatured {
  width: 100%
}
.blogdetail a {
  color: #999;
}
.blogdetail span {
  color: #999;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.blogdetail span:hover {
  color: #666;
}
.pagination .results {
  display: inline-block;
}
.pagination .pagination_bottom {
  display: inline-block;
  float: right;
  text-align: center;
}
.pagination .pagination_bottom li {
  float: left;
  margin: 0 2px;
}
.pagination .pagination_bottom li a {
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  width: 35px;
  color: #1e1e1e;
}
.pagination .pagination_bottom li a:hover {
  color: #fff
}
.pagination .pagination_bottom li a.disabled {
  background-color: #222;
  border-color: #222;
  color: #fff;
}
.single_blog_dec {
  padding: 15px;
  border: 1px solid #e2e2e2;
}
.comment-reply-title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
.itblogcomments .right {
  text-align: right;
}
@media (min-width:1200px) and (max-width:1559px) {

}
@media screen and (max-width: 1199px) {
.blog_content .sds_post_title{
  font-size: 18px;
  padding-bottom: 10px;
}
.home_blog_post .blog_post_content .post_thumbnail .meta_date{
  padding-top: 10px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog_content p.desc {
    font-size: 13px;
  }
  #itblog_block {
    padding:45px 0 0;
  }
}
@media screen and (max-width: 767px) {
  #itblog_block{
    padding-top:25px;
  }
  .blog_content {
    padding: 15px 10px;
  }
  .blog_content .sds_post_title{
    font-size: 18px;
    padding-bottom: 7px;
  }
  .home_blog_post .blog_post_content .post_thumbnail .meta_date{
    padding-top: 10px;
  }
  .home_blog_post .blog_post_content .post_thumbnail .meta_date{
    font-size: 13px;
  }
}