.innovatoryNextPrev .nextPrevProduct {position:relative;}

.innovatoryNextPrev .nextPrevProduct a.button{

		display: block;

		font-size: 24px;

		line-height: 30px;

		text-align: center;

		width: 30px;

}

.innovatoryNextPrev .nextPrevProduct .innovatoryContent{

	position: absolute;

    top: 30px;

    width: 140px;
    border:1px solid transparent;

	background-color:#fff;

	padding:10px;

	visibility: hidden;

	opacity: 0;

	transform: translate(0px,20px);

	-webkit-transform: translate(0,20px);

	-moz-transform: translate(0,20px);

	-o-transform: translate(0,20px);

	-ms-transform: translate(0,20px);

	-webkit-transition: all 300ms ease;

	-moz-transition: all 300ms ease;

	-ms-transition: all 300ms ease;

	-o-transition: all 300ms ease;

	transition: all 300ms ease;

}

.innovatoryNextPrev .nextPrevProduct.itPrev_product .innovatoryContent{

	right:0;

}

.innovatoryNextPrev .nextPrevProduct.itNext_product .innovatoryContent{

	right:0;

}

.innovatoryNextPrev .nextPrevProduct:hover .innovatoryContent,

.innovatoryNextPrev .nextPrevProduct:hover .innovatoryContent{

	opacity: 1;

  filter: alpha(opacity=100);

  transform: translate(0px,0px);

  -webkit-transform: translate(0px,0px);

  -moz-transform: translate(0px,0px);

  -o-transform: translate(0px,0px);

  -ms-transform: translate(0px,0px);

  visibility: visible;

}

@media only screen and (max-width : 767px){

	.innovatoryNextPrev{display:none;}

}