/* vegamenu */
 .it-container-menu{
    background: #0166c3;
     height: 49px;
}
 .container_it_vegamenu {
     position:relative;
     z-index: 9;
     padding: 0;
     width: 100%;
     cursor: pointer;
}
 .container_it_vegamenu .title-menu{   
     color: #010101;
     font-size: 16px;
     height:56px;
     font-weight: 500;
     padding: 0 15px;
     position:relative; 
}
.container_it_vegamenu .title-menu span{
    display: block;
    vertical-align: middle;    
}    
.it-menu-vertical {
     position:relative;
}
.it-menu-vertical .menu-dropdown .it-menu-row{
     margin-left:0;
     margin-right:0;
}
.menu-banner .banner-col {
    padding:10px 0 0;
}
@media screen and (min-width: 1051px){
.container_it_vegamenu .title-menu{
    display: flex;
    align-items: center;
}
.full-nav .it-menu-vertical .menu-vertical {
    position: absolute;
    top:55px;
    left: 0;
    border: 1px solid #2154;
    right: 0;
    display:none;
}
#index .full-nav .it-menu-vertical .menu-vertical{
    display: block;
}
.full-nav .container_it_vegamenu {
    margin: 0;
    background-color: transparent;
}
}
@media (min-width: 992px ){
    .it-menu-vertical{
        padding: 0 !important;
    }
}
 @media (min-width: 768px ) and (max-width: 991px) {
     .container_it_vegamenu{
        position: relative;
    }
     .it-verticalmenu{
        position: absolute !important;
         top: -48px !important;
         z-index: 9999 !important;
    }
}
 .it-menu-vertical{
    width: 100%;
}
 .container_it_vegamenu .it-sub-menu{
    padding-bottom: 0;
     padding-top:0;
}
 .container_it_vegamenu .it-sub-menu .html-block p, .container_it_vegamenu .it-sub-menu .html-block a{
    margin: 0;
     padding: 0;
}
 img {
    max-width:100%;
}
 .menu-subtitle{
    position: absolute;
    top: -50px;
    line-height: 13px;
    font-size:8px;
    padding:0 4px;
     background:#000;
    color:#fff;
    right: 40%;
}
.it-menu-vertical li.level-1 .img-icon{
    max-width:20px;
}
 .it-menu-vertical ul{
     margin:0;
}
 .it-menu-vertical .menu-content{
    background: #fff;
    position: relative;
    z-index: 99;
}
 .it-menu-vertical li.level-1.parent > a:before{
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 16px;
    line-height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    text-align: center;
}
 .it-menu-vertical ul li.level-1 > a span {
     display: block;
     vertical-align: middle;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     position: relative;
     overflow: hidden;
     width: 100%;
}
 .it-menu-vertical li.level-1 > a {
    line-height: 45px;
    position: relative;
    color: #666;
    font-weight: 400;
    display: block;
}
 .it-menu-vertical li.level-1 > a.innovatoryIcon{
     padding-left: 40px;
}
 #header .it-menu-vertical ul li.level-1 > a{
     display: block;
     font-weight: normal;
     border-bottom:1px solid transparent;
}
#header .it-menu-vertical ul li.level-1 > a strong{
     background: #ee433f;
     border-radius: 2px;
     color: #fff;
     font-size: 8px;
     font-weight: 400;
     margin-left: 5px;
     padding: 4px 6px;
     position: relative;
     text-transform: uppercase;
     vertical-align: middle;
}
 #header .it-menu-vertical ul li.level-1 > a strong:before{
     -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: transparent #ee3b36 transparent transparent;
     border-image: none;
     border-style: solid;
     border-width: 5px;
     content: "";
     display: inline-block;
     height: 10px;
     left: -9px;
     position: absolute;
     top: 4px;
     width: 10px;
}
 #header .it-menu-vertical ul li.hot.level-1 > a strong{
     background: #cd1212 none repeat scroll 0 0;
}
 #header .it-menu-vertical ul li.hot.level-1 > a strong:before{
     border-color: transparent #cd1212 transparent transparent;
}
 .it-menu-vertical li.level-1{
     clear: both;
     display:block;
}
 .cat-drop-menu li {
    position: relative;
}
 .it-menu-vertical .menu-dropdown li a {
     display: block;
     line-height: 35px;
     padding: 0;
}
 .it-menu-vertical .menu-dropdown li:first-child > a{
    border-top:none;
}
 .clearfix {
    clear:both
}
 #header .it-menu-vertical ul li.level-1 li.item-header a{
     border-bottom: 1px solid transparent;
     color: #222;
     font-size: 16px;
     font-weight: 600;
     margin-bottom: 5px;
     display: block;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     position: relative;
}
 .it-menu-vertical ul li a.product-name{
     font-size: 18px;
     margin-top: 0;
     text-align: center;
    color:#000;
}
 #it-menu-vertical .container {
     padding-left:0;
     padding-right:0;
}
@media (min-width: 1051px) and (max-width: 1359px){
.it-menu-vertical .menu-dropdown .it-menu-row .menu-banner{
    padding-left: 0;
}
}
@media (min-width: 1360px) and (max-width: 1529px){
.it-menu-vertical .menu-dropdown .it-menu-row{
    display: flex;
    align-items: center;
}
.it-menu-vertical .menu-dropdown .it-menu-row .menu-banner{
    padding-left: 0;
}
.it-menu-vertical li.level-1 > a {
    line-height: 43px;
}
}

 .it-menu-vertical .menu-dropdown .it-menu-col.border .ul-column{
    border-left: 1px solid #666;
}
 .it-menu-vertical .menu-dropdown .it-menu-col.border .ul-column li{
    padding-left: 20px;
}
 .it-menu-vertical .menu-dropdown .it-menu-col.border ul li.item-header a{
    border-bottom: 1px solid #666;
     margin-bottom: 15px;
}
 .it-menu-vertical .menu-dropdown .it-menu-col.none-border{
     padding: 0;
}
 .it-menu-vertical .it-menu-col.none-border ul li.item-header a{
    border: none;
}
 .it-menu-vertical .menu-dropdown .product-container .product-name{
    margin:0;
}
 .it-menu-vertical .menu-dropdown .product-container .product-name a{
     color: #71737a;
     font-size: 15px;
     font-weight: 400;
     text-align: left;
}
 .it-menu-vertical .menu-dropdown .product-container .content_price{
     clear: both;
     color: #2f3034;
     font-size: 18px;
     font-weight: 600;
     font-family: "Poppins",sans-serif;
}
 .it-menu-vertical .menu-dropdown ul li.product-block{
     padding: 25px 0 0;
}
 .it-menu-vertical .menu-dropdown ul li.product-block .product_img_link{
     border:1px solid #eeeeee;
     margin-bottom:10px;
}
 .cat-drop-menu li {
    position: relative;
}
 .it-menu-vertical .cat-drop-menu li a{
    margin:0;
}
 .it-menu-vertical li.level-2 .menu-dropdown{
     left: 100%;
    top: -1px;
    box-shadow:0 2px 8px #e0e0e0;
}
 .it-menu-vertical .menu-dropdown.cat-drop-menu{
    top:0;
}
 .it-menu-vertical .menu-dropdown.it-sub-top{
    top:0;
}
 .it-menu-vertical .menu-dropdown.it-sub-bottom{
    top: 0px;
}
 .it-menu-vertical .menu-dropdown.it-sub-center{
    top:0;
    /*bottom:0;*/
}
 .it-menu-vertical ul li.level-1 ul li.parent:after{
     content: "\f105";
     font-family: FontAwesome;
     font-size: 13px;
     font-style: normal;
     font-weight: normal;
     line-height: 35px;
     position: absolute;
     right: 0;
     text-decoration: inherit;
     top: 0;
}
 #more_menu{
     position:relative;
}
 #more_menu .menu-dropdown{
    right:0;
}
 #more_menu .menu-dropdown .menu-dropdown{
    display:none;
}
}
 @media (max-width: 1050px ) {
 .it-menu-vertical .title-menu-mobile,.icon-drop-mobile{
    display:block !important;
}
 .it-menu-vertical li.level-1{
     position: relative;
     cursor: pointer;
     padding:0;
     width:100%;
     background: #fff;
     overflow:hidden;
}
 .it-menu-vertical li.level-1 i{
     font-size: 20px;
     left: 0;
     line-height: 45px;
     position: absolute;
     text-align: center;
     top: 0;
     width: 30px;
}
 .it-menu-vertical li.level-2{
     position: relative;
     cursor: pointer;
     width:100%;
     background: #fff;
}
 .it-menu-vertical .it-menu-col{
    width: 100%;
    padding: 0 20px;
}
 .it-menu-vertical .menu-content.it-active{
    display: block !important;
}
 .it-menu-vertical .menu-dropdown{
    display:none;
    padding: 0 15px
}
.it-menu-vertical .cat-drop-menu{
    padding:0; 
}
.it-menu-vertical .cat-drop-menu li.level-2{
    padding: 0 15px;
}
 .it-menu-vertical li.level-1 > a{
    padding:0;
     color: #000 !important;
    line-height: 22px;
    border:none;
    font-size:16px !important;
}
 .it-menu-vertical ul li.level-1:hover{
}
 .it-menu-vertical ul li.level-1:hover > a{
    color:#000 !important;
}
 .it-menu-vertical .icon-drop-mobile{
     height: 40px;
     line-height: 40px;
     position: absolute;
     text-align:center;
     right: 0;
     top: 0;
     width: 40px;
}
 .it-menu-vertical ul li.level-1:hover .icon-drop-mobile:after{
}
 .it-menu-vertical ul li.parent .icon-drop-mobile:after{
     color: #9c9c9c;
     content: "\f107";
     cursor: pointer;
     font-family: FontAwesome;
}
 .it-menu-vertical ul li.parent .icon-drop-mobile.opened:after{
    content: "\f106";
}
 .it-menu-vertical .menu-dropdown.it-sub-menu{
    padding:0;
    background: #fff;
     width: 100% !important;
}
 .it-menu-vertical ul li ul {
    background: #fff;
     width: 100% !important;
     margin-top: 15px;
}
 .it-menu-vertical ul li ul li{
}
 .it-menu-vertical ul li.level-1 ul li a{
    color:#666;
}
 .it-menu-vertical ul li.level-1 ul li a:hover{
    color:#000;
}
 .it-menu-vertical ul li.level-1 ul li.parent:hover:after{
    color:#000;
}
 .it-menu-vertical ul li.level-1 ul li .icon-drop-mobile:after{
    color: #333;
}
 .it-menu-vertical li.level-1:hover > a:before{
     display: none;
}
}

.it-menu-fixtop{
     left: 0;
     margin-top: 0;
     position: fixed;
     top: 0;
     z-index: 999;
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
     -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.it-menu-sticky li.level-1{
    float: none !important;
}
.iterMenu-top .container_it_vegamenu{
     z-index:999;
}
.it-menu-vertical .menu-vertical.it-active, .iterMenu-top .menu-vertical.it-active{
     display:block;
}
@media and (min-width : 992px) and (max-width : 1199px){
.it-menu-vertical li.level-1{
    padding: 0 10px;
}
.it-menu-vertical li.level-1 > a{
     line-height:40px;
}
.it-sub-menu .img-col p {
    margin: -7px !important;
}
.container_it_vegamenu .title-menu {
    height: 40px;
    line-height: 40px;
}
}
@media and (min-width : 1200px) and (max-width : 1359px){
.container_it_vegamenu .title-menu {
    height: 40px;
    line-height: 40px;
}
}
@media only screen and (min-width : 768px) and (max-width : 991px){
.menu-vertical.it-active{
     display:block;
}
 .container_it_vegamenu .title-menu{
    padding: 0 15px;
}
 .it-menu-vertical li.level-1{
    padding: 0 7px;
}
 .it-menu-vertical li.level-1 > a,
 .it-menu-vertical li.level-1.parent > a:before{
     line-height: 30px;
}
#header .it-menu-vertical ul li.level-1 li.item-header a {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.it-menu-vertical .menu-dropdown li a {
    line-height: 25px;
    font-size: 12px;
}
.it-sub-menu .img-col p {
    margin: 0 !important;
}
}
@media screen and (max-width: 1050px){
#it-menu-vertical .menu-vertical{
     position:static;
}
.it-menu-vertical li.level-1 > a {
     line-height: 36px;
    position: relative;
    font-size: 14px;
}
 .menu-vertical, .menu-vertical.it-active{
     display:block;
}
 .container_it_vegamenu{
     width:100%;     
}
 .container_it_vegamenu.mb-30{
    margin-bottom: 0
 }
 .it-menu-vertical .menu-content{
     background:#fff;
     min-height:0;
}
 .close-menu-content, .it-menu-vertical li.level-1.parent > a::before{
     display:none;
}
.it-menu-vertical .menu-dropdown li a {
    color: #666;
    font-size: 14px;        
}
.menu-vertical{
    display:none;
}
#header #mobile_top_menu_wrapper .title-menu {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    color: #222;
    display: block;
    background-color: transparent;
    height: auto;
    line-height: 1;
    font-weight: bold;    
}
.container_it_vegamenu .title-menu i {
    font-size: 16px;
    line-height: 1;
    float: left;
    margin-right: 12px;
}    
.container_it_vegamenu .title-menu i:before {
    content: "\e68e";
    font-family: 'themify';
}
#header .it-menu-vertical ul li.level-1 > a {
    padding: 0 20px;
    line-height: 36px;
    color: #000;
}
.it-menu-vertical .cat-drop-menu li.level-2 {
    padding: 0 15px;
}
.it-menu-vertical .menu-dropdown {
    display: none; 
    padding: 0 15px;
    width: 100%;
    float: none;
}
.it-menu-vertical li.level-1:not(:last-child),
.it-menu-vertical li.level-1 {
    border-bottom: none;
}
.it-menu-vertical .icon-drop-mobile {
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1;    
}
.it-menu-vertical li.level-1 {
    position: relative;
    cursor: pointer;
    padding: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.it-menu-vertical ul li.parent .icon-drop-mobile:after {
    color: #9c9c9c;
    content: "\f107";
    cursor: pointer;
    font-family: FontAwesome;
}
.it-menu-vertical ul li.parent .icon-drop-mobile.opened:after {
    content: "\f106";
}
.it-menu-row .it-menu-col:not(:last-child){
    margin-bottom: 5px
}
.it-menu-row .it-menu-col{
    width: 100%
}
#header .it-menu-vertical ul li.level-1 li.item-header a {
    font-size: 14px;
    line-height: 40px;    
}    
.it-menu-vertical .menu-dropdown .it-menu-row.mt-20{
    margin-top: 0
}
.menu-vertical .menu-banner {
    display: none;
}
}
@media screen and (min-width: 1051px){
#header .container_it_vegamenu .hidden-md-down {
    display: block !important;
}
#header .container_it_vegamenu .title-menu span.hidden-md-down.text-uppercase{
    display: inline-block !important;
    margin-left: 15px;
}
#header .it-menu-vertical ul li.level-1:last-child > a{
    border-bottom:none;
}
.it-menu-vertical .menu-dropdown{
     min-height: 50px;
     display: block;
     opacity: 0;
     left:100%;
     filter: alpha(opacity=0);
     transform: translate(20px,0);
     -webkit-transform: translate(20px,0);
     -moz-transform: translate(20px,0);
     -o-transform: translate(20px,0);
     -ms-transform: translate(20px,0);
     transition: opacity 0.5s ease 0s,transform 0.5s ease 0s;
     -moz-transition: opacity 0.5s ease 0s,-moz-transform 0.5s ease 0s;
     -webkit-transition: opacity 0.5s ease 0s,-webkit-transform 0.5s ease 0s;
     -ms-transition: opacity 0.5s ease 0s,-ms-transform 0.5s ease 0s;
     visibility: hidden;
}
 .it-menu-vertical ul li.level-1:hover > .menu-dropdown, .it-menu-vertical ul li.level-2:hover > .menu-dropdown, .it-menu-vertical ul li.level-3:hover > .menu-dropdown, .it-menu-vertical ul li.level-4:hover > .menu-dropdown, .it-menu-vertical ul li.level-5:hover > .menu-dropdown {
     opacity: 1;
     filter: alpha(opacity=100);
     margin-left: -1px;
     transform: translate(1px,0px);
     -webkit-transform: translate(1px,0px);
     -moz-transform: translate(1px,0px);
     -o-transform: translate(1px,0px);
     -ms-transform: translate(1px,0px);
     visibility: visible;
     text-align: left;
}
 .it-menu-vertical .title-menu-mobile{
    display:none !important;
}
.it-menu-vertical li.level-1{
     padding: 0 15px;
}
 .it-menu-vertical li.innovatoryCart{
     /*position:relative;*/
}
.it-menu-vertical li.level-1 i{
    right: 0;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
    height: auto;
    font-size: 15px;
}
.it-menu-vertical .menu-dropdown{
    position: absolute;
    z-index: 1000;
    background: #fff;
    border:1px solid transparent;
    width:100%;
    padding: 15px;
}
.it-menu-vertical .menu-dropdown a{
    color: #666;
}
 .it-menu-vertical .menu-dropdown .it-menu-col.border{
     padding-left: 40px;
     margin-top: 20px;
     margin-bottom: 20px;
}
.menu-vertical.it-menu-top{
     left: -290px;
     position: fixed;
     top: 0;
     width: 290px;
     visibility: hidden;
     -webkit-transition: all 300ms ease;
     -moz-transition: all 300ms ease;
     -ms-transition: all 300ms ease;
     -o-transition: all 300ms ease;
     transition: all 300ms ease;
}
.menu-vertical.it-active.it-menu-top{
     left: 0;
     visibility: visible;
}
.menu-vertical .close-menu-content{
    display:none;
}
.menu-vertical.it-active.it-menu-top .close-menu-content{
     color: #fff !important;
     display: block;
     height: 15px;
     line-height: 27px;
     position: relative;
     z-index: 99999;
}
.menu-vertical.it-active.it-menu-top .close-menu-content span{
     background: #d70000 none repeat scroll 0 0;
     border-radius: 100%;
     display: block;
     height: 30px;
     line-height: 28px;
     position: absolute;
     right: -15px;
     text-align: center;
     top: 0;
     width: 30px;
     cursor: pointer;
}
.it-menu-vertical .column-1{
    width:100%
}
.it-menu-vertical .column-2{
    width:200%
}
.it-menu-vertical .column-3{
    width: 300%;
}
.it-menu-vertical .column-4{
    width:375%;
}
}
@media (min-width: 1051px) and (max-width: 1199px){
#header .it-menu-vertical ul li.level-1 li.item-header a{
    font-size: 14px
}
}