* {
    font-family: $font-1st;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    color: $color-heading;
    a {
        color: inherit;
    }
}

p {
    font-size: 14px;
    line-height: 1.6em;
    color: $color-text;
    span {
        font-family: inherit;
        color: inherit;
        font-size: inherit;
    }
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    @include transition(all 0.4s ease);
    &:hover {
        color: $color-1st;
    }
}

a,
input,
textarea,
button,
select {
    outline: none;
}

a:hover,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
    text-decoration: none;
}

a:focus,
button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
    text-decoration: none;
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
    max-width: 100%;
    width: 100%;
}

.ps-heading--2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #323232;
    font-weight: 500;
}