.ps-section--partner-2
    .ps-container
         .owl-slider(
             data-owl-auto= 'true',
             data-owl-loop= 'true',
             data-owl-speed= '5000',
             data-owl-gap= '60',
             data-owl-nav= 'false',
             data-owl-dots= 'false',
             data-owl-item= '5',
             data-owl-item-xs= '2',
             data-owl-item-sm= '3',
             data-owl-item-md= '3',
             data-owl-item-lg= '5',
             data-owl-duration= '1000',
             data-owl-mousedrag= 'on'
         )
             a(href='#'): img(src="images/partner/partner-2/1.jpg" alt="")
             a(href='#'): img(src="images/partner/partner-2/2.jpg" alt="")
             a(href='#'): img(src="images/partner/partner-2/3.jpg" alt="")
             a(href='#'): img(src="images/partner/partner-2/4.jpg" alt="")
             a(href='#'): img(src="images/partner/partner-2/5.jpg" alt="")
             a(href='#'): img(src="images/partner/partner-2/6.jpg" alt="")
