.it_category_feature{
    clear: both;	
    position: relative;	
	padding-top: 60px;
}
.it_category_feature .it_boxnp2{
	right:0;
}
.itCategoryFeature .item{
	padding:0 15px;
    position: relative;
}
.itCategoryFeature .item .cat-img{
	position:relative;
	overflow: hidden;
}
.itCategoryFeature .item .cat-img a{
	display:block;
	position:relative;   
}
.itCategoryFeature .item .cat-img a img{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.itCategoryFeature .item:hover .cat-img a img{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.itCategoryFeature .innovatory-media-body {
    text-align: left;
    border: 1px solid transparent;
    margin-bottom:30px;
    display: flex;
}
.itCategoryFeature .item h2.categoryName {
    margin: 0;
}
.itCategoryFeature .item .categoryName a{
	color: #222;
    display: block;
    height: 100%;
    font-size:16px;
    font-weight: 500;
    padding: 10px 15px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 6;    
}
.category-desc {
    padding:0;
}
.itCategoryFeature .item .it-view-more{
	border:1px solid #fff;
	color:#fff;
	padding: 0 30px;
    line-height: 40px;
    display: inline-block;
	font-size:13px;
	font-weight:400;
	text-transform:uppercase;
}

.itCategoryFeature .item .it-view-more:hover{
	border-color:#bca480;
	background-color:#bca480;
	color:#fff;
}
.itCategoryFeature .item .sub-cat ul{
	display:block;
	margin:0;
}
.itCategoryFeature .item .sub-cat li{
	display: block;
}
.itCategoryFeature .item .sub-cat li a{
	color: #222;
    display: block;
    font-size: 14px;
    position: relative;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.itCategoryFeature .item .sub-cat li a i {
    font-size: 12px;
    margin-right: 5px;
}
.itCategoryFeature .item .sub-cat li a:hover:before{
	color: #222
}

@media screen and (max-width: 479px){
.itCategoryFeature .item .sub-cat li a {
    font-size: 12px;
    line-height: 1.7;    
}   
.itCategoryFeature .item .sub-cat li a i {
    font-size: 10px;
}    
}    
@media (max-width: 767px){
	.itCategoryFeature .item .cat-img img{
		width: 100%;
	}
    .it_category_feature{
        padding-top: 40px;
    }
}