/* pop-in add grade/advice ********************************************************************* */

#fancybox-wrap {
  width: 585px
}

#fancybox-content {
  width: 585px;
  border-width: 0
}

#new_comment_form {
  width: 585px;
  color: #333;
  text-align: left;
  background-color: #fff
}

#new_comment_form .title {
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  background: #333
}

#new_comment_form ul.grade_content {
  list-style-type: none
}

#new_comment_form .grade_content li {
  width: 50%
}

#new_comment_form .product {
  padding: 15px
}

#new_comment_form .product img {
  float: left;
  border: 1px solid #ccc;
}

#new_comment_form .product .product_desc {
  float: left;
  margin-left: 0px;
  line-height: 18px;
  color: #666
}

#new_comment_form .product .product_desc .product_name {
  padding-bottom: 5px;
  font-size: 13px;
  color: #000;
  margin-bottom: 5px;
}

#new_comment_form .grade_content {
  margin: 0 0 20px 0
}

#new_comment_form .grade_content span,
#new_comment_form .grade_content span {
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  /* 160 */
  font-weight: bold
}

#new_comment_form .grade_content .cancel {
  margin-right: 5px
}

.new_comment_form_content {
  padding: 15px;
  background: #f8f8f8
}

.new_comment_form_content .intro_form {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}

#new_comment_form label {
  display: block;
  margin: 12px 0 4px 0;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

#new_comment_form input {
  padding: 0 5px;
  height: 28px;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
}

#new_comment_form textarea {
  padding: 0 5px;
  height: 80px;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
}

#new_comment_form .submit {
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  text-align: right
}

#new_comment_form #criterions_list {
  border-bottom: 1px solid #CCC;
  padding-bottom: 0;
  list-style-type: none;
  margin-bottom: 0;
}

#new_comment_form #criterions_list li {
  margin-bottom: 10px;
}

#new_comment_form #criterions_list label {
  display: inline;
  float: left;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 35px;
  margin: 0 10px 0 0;
}

.comments_note {
  overflow: hidden;
  display: inline-block;
}

.innovatoryProduct .comments_note .star_content,
.quickview .comments_note .star_content {
  padding-top: 5px;
  margin-right: 7px;
  float: left;
}

.comments_note div.star,
#productCommentsBlock div.star {
  color: #dfdfdf;
  display: inline-block;
  float: left;
  font-size: 14px;
  height: 18px;
  width: 15px;
}
.comments_note div.star_on,
#productCommentsBlock div.star_on {
  color: #ffc600;
}

.comments_note .innovatoryCountReview {
  color: #2f3034;
  padding-left: 10px;
}
#productCommentsBlock h3.h3 {
  display: block;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 0px;
  padding: 0 0 15px;
  text-transform: none;
}

#productCommentsBlock h3.h3 span i {
  margin-right: 10px;
}

#new_comment_form div.star {
  color: #dfdfdf;
  display: inline-block;
  float: left;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 25px;
  cursor: pointer;
}

#new_comment_form div.star:before,
#new_comment_form div.star_on:before {
  content: "\f005";
  font-family: fontawesome;
}

#new_comment_form div.star_hover:before,
#new_comment_form div.star_on:before {
  content: "\f005";
  color: #ffc600;
}

#new_comment_form,
#new_comment_form_footer {
  margin-top: 20px;
  font-size: 12px;
}

#new_comment_form div.star a,
#productCommentsBlock .star a {
  display: none;
}


/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab div.comment {
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #ccc
}
#product_comments_block_tab div.comment:last-child{
  border-bottom: none;
  margin-bottom: 0
}
#product_comments_block_tab .comment_author span {
  margin-bottom: 10px;
}

#product_comments_block_tab div.comment div.comment_author span {
  font-weight: bold;
}

#product_comments_block_tab div.comment .star_content,
#product_comments_block_tab .comment_author_infos {
  display: inline-block;
  vertical-align: middle;
}

#product_comments_block_tab div.comment div.comment_author span {
  margin: 0 5px;
}

#product_comments_block_tab div.comment .star_content {
  margin: 0;
}

#product_comments_block_tab .comment_author_infos {
  clear: both;
}

#product_comments_block_tab .comment_author_infos em {
  color: #999
}

#product_comments_block_tab div.comment div.comment_details {
  margin-top: 10px;
}

#product_comments_block_tab div.comment_details .title_block,
#product_comments_block_tab div.comment_details h4 {
  padding-bottom: 0px
}

#product_comments_block_tab div.comment_details ul {
  list-style-type: none;
  margin: 0
}
#product_comments_block_tab a {
  text-decoration: none;
  font-weight: bold;
  color:#222;
}

#product_comments_block_tab a:hover {
  text-decoration: underline
}

#product_comments_block_tab button.usefulness_btn {
  cursor: pointer;
  margin: 0 0 0 5px;
  display: inline-block;
  padding: 0 2px;
  border: 1px solid #c0c0c0;
  border-radius: 3px 3px 3px 3px;
  color: #000;
  font-weight: bold;
}

#product_comments_block_tab button.usefulness_btn:hover {
  background-position: left -50px
}

#product_comments_block_tab button.usefulness_btn:active {
  background-position: left -100px
}

#product_comments_block_tab span.report_btn {
  cursor: pointer
}

#product_comments_block_tab span.report_btn:hover {
  text-decoration: underline
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.open-comment-form {
  margin-bottom: 20px;
  color: #222;
}

#newCommentForm {
  display: none;
  background: #FFF;
}

#product_comments_block_tab .comment_details ul li {
  font-size: 12px
}

#new_comment_form #content {
  width: 100% !important;
  max-width: 100% !important;
}

#new_comment_form_ok {
  overflow: hidden;
  clear: both;
}

#new_comment_form_footer .btn-primary {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  #new_comment_form {
    width: 100%
  }
}