.ps-collection {
    position: relative;
    display: block;
    overflow: hidden;
    img {
        width: 100%;
    }
    &:before {
        content: '';
        @include max-area();
        background-color: rgba(#fff, .5);
        @include transform(scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0));
        @include transition(all .6s ease);
    }
    &:hover {
        img {
            @include transform(scale3d(1, 1, 1));
        }
        &:before {
            background-color: rgba(#fff, .5);
            @include transform(scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0));
        }
    }
    &--2nd {
        overflow: hidden;
        img {
            @include transition(all .3s ease-out);
        }
        &:before, &:after {
            display: none;
        }
        &:hover {
            img {
                @include transform(scale(1.1, 1.1));
            }
        }
    }
}