
.ps-loading {
    &:before, &:after {
        content: '';
        position: fixed;
        z-index: 1000000;
    }
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        @include transition(all 1s ease);

    }
    &:after {
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        margin: -20px 0 0 -20px;
        border: 8px solid $color-1st;
        border-bottom-color: darken($color-1st, 10%);
        border-radius: 50%;
        animation: animLoader 0.8s linear infinite forwards;
    }
    &.loaded {
        &:before, &:after {
            @include hidden;
            @include transition-delay(.5s);
        }
    }
}

@keyframes animLoader {
    to {
        transform: rotate(360deg);
    }
}
